*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(180deg,#fff7fb,#ffeef5);
min-height:100vh;
display:flex;
justify-content:center;
align-items:flex-start;
padding:25px;
color:#444;
}

.screen{
display:none;
width:100%;
animation:fade .5s ease;
}

.screen.active{
display:flex;
justify-content:center;
}

.card{
width:100%;
max-width:420px;
background:#fff;
border-radius:28px;
padding:28px;
box-shadow:0 15px 40px rgba(233,105,150,.15);
text-align:center;
}

.main-photo{
width:100%;
border-radius:22px;
margin-bottom:22px;
object-fit:cover;
}

h1{
font-family:'Parisienne',cursive;
color:#e85b93;
font-size:52px;
font-weight:400;
margin-bottom:15px;
}

h2{
color:#e85b93;
margin-bottom:18px;
}

p{
line-height:1.8;
margin-bottom:16px;
font-size:15px;
}

.info{
background:#fff5f9;
border-radius:18px;
padding:15px;
color:#c45783;
font-size:14px;
margin-top:10px;
}

button{
width:100%;
border:none;
background:#ec6f9c;
color:white;
padding:17px;
font-size:17px;
font-weight:600;
border-radius:18px;
cursor:pointer;
transition:.25s;
margin-top:18px;
}

button:hover{
transform:translateY(-2px);
box-shadow:0 10px 20px rgba(236,111,156,.35);
}

button:active{
transform:scale(.98);
}


@keyframes fade{
from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}
}

@media(max-width:480px){

body{
padding:15px;
}

.card{
padding:22px;
border-radius:24px;
}

h1{
font-size:29px;
}

}
.meme-photo {
width: 70%;
max-width: 300px;
margin: 20px auto;
display: block;
border-radius: 15px;
}
input{
    width:100%;
    height:55px;
    padding:15px;
    font-size:18px;
    border-radius:18px;
    border:1px solid #f3b6cc;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    margin-bottom:10px;
}
/* START SCREEN CUTE STYLE */

#start-screen {
    background: linear-gradient(180deg, #ffd6e7, #fff0f6);
}

#start-screen .main-photo {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(255, 105, 160, 0.25);
}

#start-screen h1 {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-size: 42px;
    color: #ff5c9a;
    margin-top: 25px;
}

#start-screen p {
    color: #b85b7d;
}


/* mała animowana strzałka */

.swipe-arrow {
    margin-top: 25px;
    font-size: 32px;
    color: #ff7eb3;
    animation: arrowMove 1.5s infinite;
}


@keyframes arrowMove {

    0% {
        transform: translateY(0);
        opacity: 0.5;
    }

    50% {
        transform: translateY(12px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0.5;
    }

}
#startBtn {
    display: none;
}